/* body {
    background-color: rgba(252, 192, 73, 0.671);
} */

.loader {
    grid-row-start: 3;
    grid-column-start: 2;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(0, 48, 73);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.draft-lobby {
    display: grid;
    grid-template-columns: 30% 21% 21% 24%;
    grid-template-rows: 5% 10% 10% auto;
    grid-gap: 1rem;
}

body {
    margin: 2rem;
    font: 12px system-ui;
}

.navbar-locator {
    grid-column-start: 1;
    grid-row-start: 1;
    position: absolute;
    top: 2px;
}

.draft-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    position: absolute;
    top: 25px;
}

.activate-button {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 2px;
}

.simulate-button {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.draft-container-locator {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.franchises-container-locator {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.single-team-container-locator {
    grid-row-start: 3;
    grid-column-start: 4;
}

.players-container-locator {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.draft-lobby > button {
    background-color: rgba(234, 226, 183);
    font-size: 14px;
    border-radius: 0.3em;
}