.draft-lobby {
    display: grid;
    grid-template-columns: 28% 20% 20% 28%;
    grid-template-rows: 5% 10% 10% auto;
    grid-gap: 1rem;
}

body {
    margin: 2rem;
    font: 12px system-ui;
}

.navbar-locator {
    grid-column-start: 1;
    grid-row-start: 1;
    position: absolute;
    top: 2px;
}

.draft-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    position: absolute;
    top: 20px;
}

.activate-button {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 2px;
}

.simulate-button {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.draft-container-locator {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.franchises-container-locator {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.single-team-container-locator {
    grid-row-start: 3;
    grid-column-start: 4;
}

.players-container-locator {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}