.franchises-container {
    border: solid grey;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 8%);
    grid-gap: 10px;
    background-color: rgba(0, 48, 73);
    border-radius: 0.3em;
}

.franchises-container > div {
    border: solid grey;
    margin: 5px;
    /* background-color: rgba(176, 224, 230, 0.657); */
    background-color:rgba(234, 226, 183);
    text-align: center;
    border-radius: 0.3em;
}

.franchises-container > .nominating-franchise {
    border: solid rgba(252, 191, 73);
}

.franchises-container > div > h3 {
    margin: 0px;
}

.franchises-container > div > p {
    margin: 0px;
}

.franchises-container > button {
    background-color:rgba(234, 226, 183);
    text-align: center;
    border-radius: 1em;
    margin: 10px;
    /* border: solid white; */
    color: black;
}