.single-team-container {
    border: solid black;
    border-radius: 0.3em;
    height: 70vh;
    overflow-x: hidden;
}

.single-team-container h2 {
    text-align: center;
}

.single-team-container ol {
    font-size: 14px;
    list-style: none;
    padding-inline-start: 6px;
}