.navbar {
    margin: 0;
    padding: 0;
}

.nav-link {
    background-color: rgba(214, 40, 40);
    float: left;
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    padding: 10px;
}