/* .player-tile {
    height: 14px;
    width: 100%;
    padding: 6px;
} */

/* .ranking-options {
    position: relative;
    top: 2px;
}

.ranking-btn {
    margin: 1px
}

.player-tile > h2 {
    margin: 4px;
} */