.queued-player {
    margin: 2px;
    border:0.1em solid #000000;
    border-radius:0.3em;
    padding: 2px;
}

.queued-player button:disabled {
    background-color:rgba(211, 211, 211, 0.322);
    border-radius: 0.3em;
}

.nominated-player h3 {
    margin-left: 6px;
    margin-top: 2px;
}

/* .ranking-options {
    position: relative;
    top: 2px;
}

.ranking-btn {
    margin: 1px
}

.player-tile > h2 {
    margin: 4px;
} */