.rankings-display > h1 {
    font-size: 34px;
}

.ranking-page-players-container {
    font-size: 14px;
    table-layout: fixed;
}

.ranking-page-players-container tbody {
    /* display: block;
    overflow: auto;
    height: 70vh;
    width: 100% */
}

.ranking-page-players-container thead tr {
    /* display: block; */
}

.rankings-header > th {
    font-size: 24px;
    padding: 4px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    /* display: inline-block; */
    padding: 1px;
    /* margin: 0px; */
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.save-button {
    padding:0.46em 1.6em;
    border-radius: 0.3em;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    background-color:rgb(252, 191, 73);
    margin-left: 4em;
}

.save-button:hover {
    background-color: white;
    border-color: rgb(252, 191, 73);
    color: black;
    cursor: pointer;
}

.ranking-players-container {
    text-align: center;
}

.player-info {
    text-align: left;
}

.ranking-options {
    display: grid;
    grid-template-columns: 66% 34%;
}

.ranking-options > .search-options {
    grid-column: 1;
}

.ranking-options > .save-button {
    grid-column: 2;
}

.loader {
    grid-row-start: 3;
    grid-column-start: 2;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(0, 48, 73);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    position: relative;
    margin-top: 10%;
    margin-left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.drop-down {
    font-size: 14px;
    border-radius: 0.3em;
}