.search {
    height: 35px;
    font-size: 14px;
    border-radius: 0.3em;
}

.search-options button {
    font-size: 20px;
    background-color: lightgray;
    border-radius:0.3em;
    border:0.1em solid #000000;
    font-weight: 300;
    padding: 8px;
}

.filters {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    width: 65%;
}

input[type=checkbox]{
    width: 25%;
    /* padding: 12px 10px; */
    /* margin: 1px 0; */
    /* appearance: none; */
    /* background-color: #fafafa;
    border: 1px solid #cacece; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 9px;
	border-radius: 3px;
    display: inline-block;
    position: relative;
}

/* input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
} */

.QB {
    grid-column-start: 1;
    grid-row-start: 1;
}
.RB {
    grid-column-start: 1;
    grid-row-start: 2;
}
.WR {
    grid-column-start: 1;
    grid-row-start: 3;
}
.TE {
    grid-column-start: 1;
    grid-row-start: 4;
}
.DST {
    grid-column-start: 1;
    grid-row-start: 5;
}
.K {
    grid-column-start: 1;
    grid-row-start: 6;
}
.Tier1 {
    grid-column-start: 2;
    grid-row-start: 1;
}
.Tier2 {
    grid-column-start: 2;
    grid-row-start: 2;
}
.Tier3 {
    grid-column-start: 2;
    grid-row-start: 3;
}
.Tier4 {
    grid-column-start: 2;
    grid-row-start: 4;
}
.Tier5 {
    grid-column-start: 2;
    grid-row-start: 5;
}
.Tier6 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.Tier7 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.Tier8 {
    grid-column-start: 3;
    grid-row-start: 3;
}
.Tier9 {
    grid-column-start: 3;
    grid-row-start: 4;
}
.Tier10 {
    grid-column-start: 3;
    grid-row-start: 5;
}